# ==========================================
# 1. NODE.JS
# ==========================================
backend/node_modules/
backend/.env
backend/*.log

frontend/node_modules/
frontend/.env
frontend/dist/

# ==========================================
# 2. PLATFORMIO / ARDUINO (Firmware)
# ==========================================
firmware/.pio/
firmware/.clang_complete
firmware/.gcc-flags.json
firmware/lib/README
firmware/src/credentials.h

# ==========================================
# 3. FLUTTER / DART (Mobile)
# ==========================================
mobile/.dart_tool/
mobile/.packages
mobile/.pub-cache/
mobile/.pub/
mobile/build/
mobile/coverage/
**/doc/api/
**/ios/Flutter/.last_build_id
mobile/android/.gradle/
mobile/android/local.properties
mobile/android/app/debug/
mobile/android/app/profile/
mobile/android/app/release/
mobile/ios/.symlinks/
mobile/ios/Pods/
mobile/ios/Flutter/Flutter.podspec
app.*.symbols
app.*.map.json

# ==========================================
# 4. IDEs & SISTEMA
# ==========================================
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
*.iml
*.ipr
*.iws
.idea/
Thumbs.db